@import 'base';

g.tick text {
    font: 0.7em sans-serif;
    fill: $gold;
}

g.tick line {
    fill: $pink;
    stroke: $grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chart-container {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    background-color: $slate;
    background:  linear-gradient(to top, black , $teal);
    padding: 10px 10px 0px 10px;
    //border: 3px solid $teal;
    border-radius: 5px;
}

.chart {
    display: block;
    margin: auto;
}

.chart rect {
  fill: $gold;
}

.chart text {
  fill: $slate;
  font: 0.9em sans-serif;
  text-anchor: end;
}

#chart-buttons-form {
    margin-bottom: 50px;
}