@import 'base';

.camera-view{
    display: block;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    margin-top: 30px;
    margin-bottom: 50px;
    height: auto;
    padding: 10px;
    width: 165px;
    align-content: center;
    text-align: center;
    
}

#camera-view:hover {
    cursor: pointer;
}
#blob-filter-container{
    display: none;
}
#cube {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 160px;
    transition: transform 1s linear;
    transform-style: preserve-3d;
    user-select: none;
}

#cube:hover {
    cursor: pointer;
}

@media screen and (max-width: 650px){
    #cube {
        margin-left: auto;
        margin-right: auto;
    } 
}


.face {
    position: absolute;
    padding: 20px;
    background-color: $gold;
    border: 8px dashed #333;
    user-select: none;
    backface-visibility: hidden;
    color: $grey;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    text-align: center;
    @include user-select(none);
}



.face-not-ie
{
    height: 112px;
    width: 112px;
    border-radius: 7px;
}

.face-ie
{
    height:50px;
    width: 50px;
    transform-origin: 50% 50% -53px;
    border-radius: 0px;
    font-size: 0em;
    margin: auto auto auto auto;
}

.face:hover {
    cursor: pointer;
}



#cube .one  {
    backface-visibility: hidden;
    transform: rotateX(90deg) translateZ(80px);
}

#cube .two {
    backface-visibility: hidden;
    transform: translateZ(80px);
}

#cube .three {
    backface-visibility: hidden;
    transform: rotateY(90deg) translateZ(80px); 
}

#cube .four {
    backface-visibility: hidden;
    transform: rotateY(180deg) translateZ(80px);
}

#cube .five {
    backface-visibility: hidden;
    transform: rotateY(-90deg) translateZ(80px);
}

#cube .six {
    transform: rotateX(-90deg) rotate(180deg) translateZ(80px);
}

@include keyframes(color_change) {
    0% {
        background-color: $gold; 
        color: $slate; 
        border-color: $slate;
    }
    25% {
        background-color: $slate; 
        color: $gold; 
        border-color: $gold;
    }
    50% { 
        background-color: $pink; 
        color: $grey; 
        border-color: $grey;
    }
    75% { 
        background-color: $teal; 
        color: $grey; 
        border-color: $grey;
    }
    100% {
        background-color: $grey; 
        color: $gold; 
        border-color: $gold;
    }
}

.face_animate_color {
    @include animation(color_change 2s infinite alternate);
}

/* for IE 11+10 fall back*/
@include keyframes(animate1) {
    0% {
        transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    }
    100% {
        transform: perspective(600px) rotateX(360deg) rotateY(450deg) rotateZ(0deg);
    }
}
@include keyframes(animate2) {
    0% {
        transform:perspective(600px) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
    }
    100% {
        transform:perspective(600px) rotateX(360deg) rotateY(630deg) rotateZ(0deg);
    }
}
@include keyframes(animate3) {
    0% {
        transform:perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform:perspective(600px) rotateX(450deg) rotateY(0deg) rotateZ(-360deg);
    }
}
@include keyframes(animate4) {
    0% {
        transform:perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform:perspective(600px) rotateX(270deg) rotateY(0deg) rotateZ(360deg);
    }
}
@include keyframes(animate5) {
    0% {
        transform:perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform:perspective(600px) rotateX(360deg) rotateY(360deg) rotateZ(0deg);
    }
}
@include keyframes(animate6) {
    0% {
        transform:perspective(600px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    }
    100% {
        transform:perspective(600px) rotateX(360deg) rotateY(540deg) rotateZ(0deg);
    }
}



.animate1  {
    background-color: $gold; 
    color: $slate; 
    border-color: $slate;
	@include animation(animate1 12s infinite linear);
}

.animate2  {
    background-color: $pink; 
    color: $gold; 
    border-color: $teal; 
	@include animation(animate2 12s infinite linear);
}

.animate3  {
    background-color: $teal; 
    color: $gold; 
    border-color: $slate;
	@include animation(animate3 12s infinite linear);
}

.animate4  {
    background-color: $slate; 
    color: $teal; 
    border-color: $teal;
	@include animation(animate4 12s infinite linear);
}

.animate5  {
    background-color: white; 
    color: $gold; 
    border-color: $teal;
	@include animation(animate5 12s infinite linear);
}

.animate6  {
    background-color: $grey; 
    color: $gold; 
    border-color: $teal;
	@include animation(animate6 12s infinite linear);
}