@import 'base';

$default-font: 'Quicksand';
//$title-font: 'Nunito';
$title-font: 'Quicksand';
$light-bg-colour: #eee;
$dark-text-colour: #555555;
$light-text-colour: #ffffff;

html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border:0;
    outline:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    top: 0px;
    height: $header-height;
    width: 100%;
    background-color: $light-bg-colour;
    color: $dark-text-colour;
    box-shadow: 0px 17px 63px -13px rgba(0,0,0,0.75);
    
}

#texture-bar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    //margin-top: 45px;
}

#title {
    display: block; 
    margin: 0 0 0 0;
    padding: 1em 0 0 0;
    height: 120px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: $light-bg-colour;
}

#title > h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family:  $title-font;
    width: auto;
    text-align: center;
    letter-spacing: 0.4em;
    font-size: 2em;
}

#title > h2 {
    margin-top: 0;
    margin-bottom: 1em;
    //font-family: "arial",	/* Windows, MacOS */ "helvetica",	/* Unix+X, MacOS */ sans-serif;
    font-family: $title-font;
    width: auto;
    text-align: center;
    font-size: 1.5em;
}

#top-menu {
    //padding-top: 5px;
    //padding-bottom: 5px;
    //background-color: $light-bg-colour;
}
p {
    font-family: $default-font;
    width: auto;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

main {
    position: absolute;
    display: block;
    top: $header-height;
    bottom: 0px;
    width: 100%;
    background-color: #222;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    overflow-x: visible;
    overflow-y: scroll;
    background-size: contain;
}


#grid{
    display: block;
    height: auto;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-right: 8px;
    text-align: center;
    //background-image: url("../img/transparent-concrete.png");
    background-size: contain;
    background-repeat: no-repeat;
    //background-color: rgba(0, 0, 0, 0.3);

}



article{
    opacity: 1;
    display: inline-block;
    padding: 0 0 0 0;
    font-family: $default-font;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 0px;
    width: 300px;
    height: 300px;
    border-width: 1px;
    border-radius: 4px;
    background-color: $slate;
    border-color: $teal;
    overflow: hidden;
    vertical-align: middle;
    box-shadow: 0px 40px 63px 5px rgba(0,0,0,0.5);
    
}

.article-block{
    opacity: 1;
    display: block;
    padding: 0 0 0 0;
    margin: 0 -10px 0px 0;
    //padding-right: 20px;
    font-family: $default-font;
    height: 300px;
    width: 300px;
    height: 300px;
    float: left;
    vertical-align: middle;
    
}

.article-demo-block{
    margin-top: 30px;
    height: 240px;
    
    //background-color: rgba( 0, 0, 0, 0.2);
    background-color: rgba( 0, 0, 0, 0.2);
    //border: solid 5px $grey;
    border-radius: 4px;
    //box-shadow: 5px 5px 63px 0px rgba(0,0,0,0.3);
}

.double-width-block{
    width: 600px;
}

.full-width-block{
    width: 100%;
    margin-top: 30px;
    height: auto;
}

article p {
    display: block;
    float: left;
    width: 80%;
    height: auto;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    //font-weight: 700;
    //margin: 20px 25px 20px 30px;
    color: $gold;
    font-size: 1em;
    line-height: 1.2em;
}

article a {
    text-align: left;
    display: block;
    float: left;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-left: 0;
    padding-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    //margin: 20px 25px 20px 30px;
    font-size: 1em;
    color: $pink;
}

article h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $default-font;
    color: #DDD;
    font-size: 2em;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
}


#skills-wrapper {
    display: block;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 7px;
    background-color: $slate;
    //box-shadow: 0px 6px 37px -5px rgba(0,0,0,0.75);
    font-size: 1.1em;
}

#skills-wrapper > h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #DDD;
    width: 100%;
    
}

#skills-wrapper > p{
    margin: 0 0 0 0;
    width: 100%;
    color: $gold;
    text-align: center;
    line-height: 1.4em;
}

article > img {
    height: 300px;
    margin-bottom: 0;
    width: auto;
    margin-top: 0px;
    margin-left: -120px
}

#profile-image {
    //border-radius: 50%;   
}

//#profile-image {
//    border-radius: 50%;
//    width: 100%;
//    height: 100%;
//    height: auto;
//}

footer{
    padding-top: 10px;
    padding-bottom: 40px;
    height: 1000px;
    background-color: #222;
    font-family: sans-serif;
    width: auto;
    text-align: center;
    color: white;
}


@media screen and (min-width: 691px){
   .treble-width{
       width: 610px;
   }
    
    .double-width{
       width: 610px;
   }
    
   
}

@media screen and (min-width: 998px){
   .treble-width{
       width: 920px;
   }
}

@media screen and (max-width: 997px){
    #grid {
        width: 630px;
    }
    #titles-container{
        width: 630px;
    }
    
    .full-width-block > p{
        font-size: 0.95em;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .article-demo-block{
     background-color: $slate;   
    }
    article > p{
        font-size: 0.97em;
    }

    article h2 {
    font-size: 1.5em;
}
    
     .double-width-block{
     width: 300px;
   }
}

@media screen and (max-width: 690px){
    #grid {
        width: auto;
    }
    #titles-container{
        width: auto;
    }
    
    #grid{
        padding-right: 0;
    }
    
    article {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        text-align: center;
        height: auto;
        vertical-align: middle;
    }
    
    article > img {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
//        margin-bottom: 0;d ../ddddddd
//        margin-left: auto;
//        margin-right: auto;
        //right: 10%;
        width: 100%;
        height: auto;
    }
    
    .article-block {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
        height: auto;
        margin-bottom: 0;
    }
    
    .article-demo-block{
        border-radius: 0;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 0;
        background-color: $dark-slate;
    }
    
    #skills-wrapper {
        height: auto;
        padding-bottom: 20px;
        display: inline-block;
    }
}


.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.toggle-btn-grp { 
    text-align: center;
    margin:10px auto 0 auto; 
}

.toggle-btn-grp * {
    text-align: left;
    width:80px;
    height:30px;
    line-height:30px;
}

@media screen and (max-width: 300px){
    
    .toggle-btn-grp { 
        margin:5px auto 0 auto; 
    }
    .toggle-btn-grp * {
        width: 60px;
        height: 20px;
        line-height: 20px;
        font-size: 0.9em;
    } 
}

.toggle-btn-grp div {
    display:inline-block;
    position:relative;
    margin:5px 2px;
}

.toggle-btn-grp div label {
    position:absolute;
    z-index:0;
    padding:0;
    text-align:center;
    background: $slate;
    border:solid 1px $gold !important;
    color: $gold;
    border-radius: 4px;
}

.toggle-btn-grp div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
}

.toggle-btn-grp div:hover label {
    border:solid 1px $gold !important; 
    background: $grey;
    color: $gold;
}

.toggle-btn-grp div input:checked + label {
    background: $gold;
    border:solid 1px $gold !important; 
    color: $slate;
}


@include keyframes(title-hide) {
    0% {
        transform: scale(1);
        //height: 120px;
        opacity: 1;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    30% {
        opacity: 0;
    }
    
    100% {
        transform: scale(0);
        //height: 0px;
        opacity: 0;
        padding-top: 0em;
        padding-bottom: 0em;
    }
}

@include keyframes(title-show) {
    0% {
        transform: scale(0);
        //height: 0px;
        opacity: 0;
    }
    
    60% {
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        //height: 120px;
        opacity: 1;
    }
}


.title-hide  {
	@include animation(title-hide 0.7s forwards);
}

.title-show  {
	@include animation(title-show 0.7s forwards);
}

@media screen and (min-width: 691px){
    .title-hide  {
        transform: scale(0);
        //height: 0px;
        opacity: 0;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .title-show  {
       transform: scale(1);
        //height: 120px;
        opacity: 1;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
   
}

@include keyframes(header-shrink) {
    0% {
        height: $header-height;
    }
    100% {
        height: 50px;
    }
}
@include keyframes(header-grow) {
    0% {
        height: 50px;
    }
    100% {
        height: $header-height;
    }
}

.header-shrink  {
	@include animation(header-shrink 0.7s forwards cubic-bezier(0.3, 0.2, 0.3, 1));
}

.header-grow  {
	@include animation(header-grow 0.7s forwards cubic-bezier(0.3, 0.2, 0.3, 1));
}

@include keyframes(main-expand) {
    0% {
        top: $header-height;
    }
    100% {
        top: 50px;
    }
}
@include keyframes(main-contract) {
    0% {
        top: 50px;
    }
    100% {
        top: $header-height;
    }
}

.main-contract  {
	@include animation(main-contract 0.7s forwards cubic-bezier(0.3, 0.2, 0.3, 1));
}

.main-expand  {
	@include animation(main-expand 0.7s forwards cubic-bezier(0.3, 0.2, 0.3, 1));
}