#top-menu {
    position: inherit;
    bottom: 0px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;  
    text-align: center;
}

#top-menu-wrapper {
    width: auto;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}

#top-menu-wrapper p {
    margin-top: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.1em;
    color: #FFFFFF;
    line-height: 1.1em;
    word-wrap: normal;
}

.menu-button {
    display: block;
    overflow: hidden;
    font-family: $default-font;
    height: 40px;
    width: 140px;
    float: left;
    margin: 0px 5px 0px 0px;
    border-radius: 7px;
    background-color: $grey;
    white-space:nowrap;
    bottom: 0;
    text-align: left;
    overflow: hidden;  
} 

.menu-button:hover {
    cursor: pointer;
} 

#menu-list-button {
    display: none;
    overflow: hidden;
    font-family: $default-font;
    height: 40px;
    width: 140px;
    float: left;
    margin: 0px 5px 0px 0px;
    border-radius: 7px;
    background-color: $grey;
    white-space:nowrap;
    bottom: 0;
    text-align: left;
    overflow: hidden; 
}

#menu-list{
    position: absolute;
    display: block;
    top: 50px;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    background-color: #222;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    //overflow: hidden;
    color: white;
    transform: translateZ(0) scaleX(0);
}

#menu-list-button:hover {
    cursor: pointer;
}

#menu-list-group {
    display: inline-block;
    width: 200px;
    padding: 0 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: $default-font;
}

.menu-list-item-button {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.menu-list-item-button-selected {
    font-size: 2.5em;
    font-weight: 700;
}

.menu-list-item-button:hover {
    cursor: pointer;
}

.menu-list-group-higher {
    margin-top: 20px;
}

.menu-list-group-lower {
    margin-top: 170px;
}

@media screen and (min-width: 691px){
    #menu-list{
        display: none;
    }
}

@media screen and (max-width: 690px){
    .menu-button {
        display: none;
    }
    
    #menu-list-button{
        display: block;
    }
    
    #menu-list{
        display: block;
    }
}

@include keyframes(menu-select) {
    0% {
        background-color: $slate;
    }
    100% {
        background-color: $teal;
    }
}

@include keyframes(menu-deselect) {
    0% {
        background-color: $teal;
    }
    100% {
        background-color: $slate;
    }
}


.menu-select  {
	@include animation(menu-select 0.7s forwards);
}

.menu-deselect  {
	@include animation(menu-deselect 0.7s forwards);
}



@include keyframes(menu-list-expand) {
    0% {
        transform: scaleX(0);
        //height: 0%;
    }
    100% {
        transform: scaleX(1);
        //height: 100%;
    }
}

@include keyframes(menu-list-contract) {
    0% {
        transform: scaleX(1);
        //height: 100%;
    }
    100% {
        transform: scaleX(0);
        //height: 0%;
    }
}

.menu-list-expand  {
	@include animation(menu-list-expand 0.7s forwards);
}

.menu-list-contract  {
	@include animation(menu-list-contract 0.1s forwards);
}



