$dist-x:95px;
$dist-y:95px;

@include keyframes(blob-centre-out-anim){
    0%{
        transform:scale(1);
    }
    33%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(0.7);
    }
}

@include keyframes(blob-centre-in-anim){
    100%{
        transform:scale(0.7);
    }
    33%{
        transform:scale(0.9);
    }
    10%{
        transform:scale(1);
    }
}

@include keyframes(blob-centre-in-anim){
    0%{
        transform:scale(0.7);
    }
    33%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}

@include keyframes(blob-left-top-out-anim){
    0%{
        transform:scale(1) translate(0,0);
    }
    40%{
        transform:scale(0.9) translate(-$dist-x,0);
    }
    100%{
        transform:scale(0.7) translate(-$dist-x,-$dist-y);
    }
}

@include keyframes(blob-left-top-in-anim){
    100%{
        transform:scale(1) translate(0,0);
    }
    40%{
        transform:scale(0.9) translate(-$dist-x,dist-y+30);
    }
    0%{
        transform:scale(0.7) translate(-$dist-x,-$dist-y);
    }
}


@include keyframes(blob-right-top-out-anim){
    0%{
        transform:scale(1) translate(0,0);
    }
    50%{
        transform:scale(0.9) translate($dist-x,0);
    }
    100%{
        transform:scale(0.7) translate($dist-x,-$dist-y);
    }
}

@include keyframes(blob-right-top-in-anim){
    100%{
        transform:scale(1) translate(0,0);
    }
    50%{
        transform:scale(0.9) translate($dist-x,0);
    }
    0%{
        transform:scale(0.7) translate($dist-x,-$dist-y);
    }
}

@include keyframes(blob-left-bottom-out-anim){
    0%{
        transform:scale(1) translate(0,0);
    }
    60%{
        transform:scale(0.9) translate(-$dist-x,0);
    }
    100%{
        transform:scale(0.7) translate(-$dist-x,$dist-y);
    }
}

@include keyframes(blob-left-bottom-in-anim){
    100%{
        transform:scale(1) translate(0,0);
    }
    60%{
        transform:scale(0.9) translate(-$dist-x, 0);
    }
    0%{
        transform:scale(0.7) translate(-$dist-x,$dist-y);
    }
}

@include keyframes(blob-right-bottom-out-anim){
    0%{
        transform:scale(1) translate(0,0);
    }
    55%{
        transform:scale(0.9) translate($dist-x,0);
    }
    100%{
        transform:scale(0.7) translate($dist-x,$dist-y);
    }
}

@include keyframes(blob-right-bottom-in-anim){
    100%{
        transform:scale(1) translate(0,0);
    }
    55%{
        transform:scale(0.9) translate($dist-x,dist-y-40);
    }
    0%{
        transform:scale(0.7) translate($dist-x,$dist-y);
    }
}

.blobs{
    //added svg filter as attribute in html to fix firefox bug where it doesn't appear on load only if style sheet is updated
    @include filter(url("#goo"));
    position:relative;
    padding: 0px 10px 80px 10px;
    line-height:100px;
    @include user-select(none);
}

.blob{
    position:absolute;
    background-color:$gold;
    background: $gold;
    left:50%;
    top:50%;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    color: $grey;
    font-size:40px;
    border-radius:100%;
    margin-top: 0;
    margin-left: -50px;
    font-size: 1.6em;
    scale: 1;
    @include user-select(none);
}

#svg-filter {
    height: 0;
}


.blob-container{
    position:absolute;
    margin-top: -50px;
    left:50%;
    top:50%;
    @include user-select(none);
}

.blob:hover {
    cursor: pointer;
}

.blob-centre-out {
    @include animation(blob-centre-out-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 3s forwards);
}

.blob-centre-in {
    @include animation(blob-centre-in-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 3s forwards);
}

.blob-left-top-out{
     @include animation(blob-left-top-out-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 3s forwards);
}

.blob-left-top-in{
     @include animation(blob-left-top-in-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 3s forwards);
}

.blob-right-top-out{
     @include animation(blob-right-top-out-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 3s forwards);
}

.blob-right-top-in{
     @include animation(blob-right-top-in-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 3s forwards);
}


.blob-left-bottom-out{
     @include animation(blob-left-bottom-out-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 3s forwards);
}

.blob-left-bottom-in{
     @include animation(blob-left-bottom-in-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s forwards);
}

.blob-right-bottom-out{
     @include animation(blob-right-bottom-out-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s forwards);
}

.blob-right-bottom-in{
     @include animation(blob-right-bottom-in-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s forwards);
}

.pulse-anim{
	@include animation(pulse-anim 0.34s infinite);
}

@include keyframes(pulse-anim) {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
        background-color: #777;
		opacity: 1;
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}


