//$teal: #558888;
//$slate: #1F3B3B;
//$pink: #956C8A;
//$olive: #554E2D;
//$gold: #D4C67A;
//$pink: #21B2C9;

$teal: #2FA6A6;
$slate: #255459;
$pink: #E374FA;
$olive: #333333;
$gold: #CCCC4F;

#theremin {
    display: block;
    margin: 20px auto 30px auto;
    background-color: $gold;
    border: 0px solid $olive;
    border-radius: 7px;
}

#theremin:hover {
    cursor: pointer;
}

#theremin-article {
    user-select: none;
    
    align-items: center;
}

#product-wrapper {
    height: 0;   
}