//@mixin perspective($perspective) {
//  -webkit-perspective: $perspective;
//     -moz-perspective: $perspective;
//          perspective: $perspective;
//    
//}
//
//@mixin perspective-origin($perspective-origin) {
//  -webkit-perspective-origin: $perspective-origin;
//     -moz-perspective-origin: $perspective-origin;
//          perspective-origin: $perspective-origin;
//}
//
//@mixin transform($transform) {
//  -webkit-transform: $transform;
//     -moz-transform: $transform;
//          transform: $transform;
//}
//
//@mixin transform-style($transform-style) {
//  -webkit-transform-style: $transform-style;
//     -moz-transform-style: $transform-style;
//          transform-style: $transform-style;
//}
//
@mixin user-select($user-select) {
  -webkit-user-select: $user-select;
     -moz-user-select: $user-select;
          user-select: $user-select;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
     -ms-animiation: $animation;
       -o-animation: $animation;
          animation: $animation;
}

@mixin animation-name($animation) {
  -webkit-animation-name: $animation;
     -moz-animation-name: $animation;
       -o-animation-name: $animation;
          animation-name: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin filter($animation) {
  -webkit-filter: $animation;
     -moz-filter: $animation;
       -o-filter: $animation;
          filter: $animation;
}

// the following 2 functions allow a transition mixin that handles vendor-prefixed properties by default.
// eg: -webkit-transition: -webkit-transform 2s linear; 

//@function prefix($property, $prefixes: (webkit moz o ms)) {
//    $vendor-prefixed-properties: transform background-clip background-size;
//    $result: ();
//    @each $prefix in $prefixes {
//       @if index($vendor-prefixed-properties, $property) {
//         $property: -#{$prefix}-#{$property}
//       }
//       $result: append($result, $property);
//    }
//    @return $result;
//}
// 
//@function trans-prefix($transition, $prefix: moz) {
//    $prefixed: ();
//    @each $trans in $transition {
//        $prop-name: nth($trans, 1);
//        $vendor-prop-name: prefix($prop-name, $prefix);
//        $prop-vals: nth($trans, 2);
//        $prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
//    }
//    
//    @return $prefixed;
//}
 
 
//@mixin transition($values...) { 
//    $transitions: ();
//    @each $declaration in $values {
//        $prop: nth($declaration, 1);
//        $prop-opts: ();
//        $length: length($declaration);
//        @for $i from 2 through $length {
//            $prop-opts: append($prop-opts, nth($declaration, $i));   
//        }
//        $trans: ($prop, $prop-opts);
//        $transitions: append($transitions, $trans, comma);
//    }
//      
//    -webkit-transition: trans-prefix($transitions, webkit);
//    -moz-transition: trans-prefix($transitions, moz);
//    -o-transition: trans-prefix($transitions, o);
//    transition: $values;
//}